.container_info_grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10vh;
}


.text-about{
    display: flex;
    flex-direction: column;
    gap: 1em;
    h1{
      font-size: clamp(2em, 1.5em + 3vw, 4.0625em);
    }
    h3{
        font-size: clamp(0.8em, 1em + 0.85vw, 2.0625em);
        color: hsla(0, 0%, 100%, 0.5);
        line-height: 1.4;
    }
}

.wrapp{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: -1;
    width: 65vw;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#181823), to(#181823));
    background-image: linear-gradient(180deg, #181823, #181823);
}
.swiper{
    height: 100%;
}
.screen span {
    font-size: 2em;
    text-align: center;
    display: block;
    padding: 2rem 0;
}
.img-profile {
    width: 100%;
    max-width: 500px;
    img {
        margin: auto;
        display: block;
        height: 100%;
        width: 100%;
    }
}